<div class="container-fluid">
  <nav class="navbar navbar-white bg-white">
    <span class="navbar-text">ユーザー一覧</span>
    <div class="form-inline">
      <%= form_with url:'/employees', method: :get, local: true do |f| %>
        <%= f.text_field :name %>
        <%= f.submit('名前で検索') %>
      <% end %>
    </div>
  </nav>
</div>
<div class="container">
  <div>
    <% if @employees.any? %>
      <div class="container-fluid">
        <%= paginate @employees %>
        <div class="table-responsive">
          <table class="table table-striped table-md">
            <tr>
              <th>従業員ID</th>
              <th>名前</th>
              <!-- 管理者ユーザーのみに他のユーザーの削除リンクを表示する  -->
              <% if current_employee.admin? %>
                <th>ユーザーの削除</th>
              <% end %>
            </tr>
            <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.employee_id %></td>
              <td><%= link_to "#{employee.name}",employee_path(employee.id)  %></td>
              <!-- 管理者ユーザーのみに他のユーザーの削除リンクを表示する  -->
              <td>
                <% if current_employee.admin? %>
                  <%= link_to "削除", employee, method: :delete, data: {confirm: "このユーザーを削除しますか"} %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% else %>
      <%= "該当するユーザーがいないか、データがありません" %>
    <% end %>
  </div>
</div>
