<div class="container">
  <%= render 'shared/error_messages' %>
    <%= form_with(model: @employee, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :employee_id, '従業員コード' %>
      <%= f.number_field :employee_id, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :name, '名前' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, 'パスワードの確認' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
      <%= f.submit '新規登録', class: 'btn btn-primary' %>
    <% end %>
</div>
