<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">プロフィール</li>
      <li class="breadcrumb-item  active" aria-current="page">乗務員コード: <%= @employee.employee_id %></li>
      <li class="breadcrumb-item  active" aria-current="page">名前: <%= @employee.name %></li>
      <li class="breadcrumb-item  active" aria-current="page">管理者属性: <%= @employee.admin? %></li>
    </ol>
  </nav>
</div>
<div class="container-fluid">
  <div>
    <% if @employee.attendances.any? %>
      <div class="container-fluid">
        <%= paginate @attendances %>
        <div class="table-responsive">
          <table class="table table-striped table-md">
            <tr>
              <th>乗車時間</th>
              <th>経路</th>
              <th>項目1</th>
              <th>項目2</th>
              <th>項目3</th>
              <th>項目4</th>
              <th>項目5</th>
              <th>項目6</th>
              <th>項目7</th>
              <th>項目8</th>
              <th>項目9</th>
              <th>項目10</th>
              <th>点数</th>
              <th>作成時間</th>
            </tr>
            <% @attendances.each do |attendance| %>
            <tr>
              <td><%= attendance.ride_at %></td>
              <td><%= attendance.ride_in %></td>
              <td><%= display_circle(attendance.attr_one) %></td>
              <td><%= display_circle(attendance.attr_two) %></td>
              <td><%= display_circle(attendance.attr_three) %></td>
              <td><%= display_circle(attendance.attr_four) %></td>
              <td><%= display_circle(attendance.attr_five) %></td>
              <td><%= display_circle(attendance.attr_six) %></td>
              <td><%= display_circle(attendance.attr_seven) %></td>
              <td><%= display_circle(attendance.attr_eight) %></td>
              <td><%= display_circle(attendance.attr_nine) %></td>
              <td><%= display_circle(attendance.attr_ten) %></td>
              <td><%= attendance.point %></td>
              <td><%= attendance.created_at.strftime('%m/%d-%k:%M') %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% else %>
      <%= "カメラチェックのデータがありません" %>
    <% end %>
  </div>
</div>
