<div class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/employees">Procuratio</a>
  <div claas= "navbar-right">
    <ul class="navbar-nav">
      <% if logged_in? %>
      <li class="nav-item">
        <%= "ログインユーザー / ID: #{current_employee.id}" %>
        <%= "/ 名前: #{current_employee.name} /" %>
        <%= link_to "プロフィール", current_employee %>
        <%= link_to "編集", edit_employee_path(current_employee) %>
        <%= link_to "ユーザー一覧", employees_path %>
        <%= link_to "ログアウト", logout_path, method: :delete %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "ログイン", login_path %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
