<div class="navbar navbar-expand-sm navbar-dark" style="background-color:midnightblue;">
  <a class="navbar-brand" href="/employees">Procuratio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item active">
          <%= link_to "カメラチェック", new_attendance_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "カメラチェック結果一覧", attendances_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "プロフィール", current_employee, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", employees_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "編集", edit_employee_path(current_employee), class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link"  %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link"  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if logged_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="nav-item ml-auto">
      <%= "ログインユーザー > 乗務員コード: #{current_employee.id}" %>
      <%= "/ #{current_employee.name}" %>
      <%= "/ 管理者権限: #{current_employee.admin?}" %>
    </span>
  </nav>
<% end %>
